/share/PVCs     10.28.1.0/24(sec=sys,rw,no_subtree_check,all_squash,anonuid=568,anongid=100)
/share/PVCs     10.28.28.0/24(sec=sys,rw,no_subtree_check,all_squash,anonuid=568,anongid=100)

/eros/Downloads     10.28.1.0/24(sec=sys,rw,no_subtree_check,all_squash,anonuid=568,anongid=100)
/eros/Downloads     10.28.28.0/24(sec=sys,rw,no_subtree_check,all_squash,anonuid=568,anongid=100)

/eros/Apps/Immich     10.28.1.0/24(sec=sys,rw,no_subtree_check,all_squash,anonuid=568,anongid=100)
/eros/Apps/Immich     10.28.28.0/24(sec=sys,rw,no_subtree_check,all_squash,anonuid=568,anongid=100)

/eros/Backup/Databases     10.28.1.0/24(sec=sys,rw,no_subtree_check,all_squash,anonuid=1000,anongid=1000)
/eros/Backup/Databases     10.28.28.0/24(sec=sys,rw,no_subtree_check,all_squash,anonuid=1000,anongid=1000)