#shellcheck disable=SC2148,SC2155
export KUBECONFIG=$(expand_path ./infrastructure/talos/virtops/kubeconfig)
export TALOSCONFIG=$(expand_path ./infrastructure/talos/virtops/clusterconfig/talosconfig)
#export KUBECTL_EXTERNAL_DIFF="dyff between --omit-header --set-exit-code"
export SOPS_AGE_KEY_FILE=$(expand_path ~/.config/sops/age/keys.txt)
export PATH=$HOME/bin:/usr/local/bin:$PATH
# PATH_add gluctl
